@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Inter);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
*{
    margin:0% 0% 0% 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", Helvetica ,Arial,sans-serif;
}

header{
    width:100%;
    height:fit-content;
    
}
navbar navbar-expand-sm bg-dark{
    opacity: 30%;
    width:100%;
}
/* background */
#back{
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    height:470px;
    background-size: cover;
    background-position: right;
}
#slogan{
    height:fit-content;
    width:fit-content;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    padding: 0 0 0 0;
}
#line1{
    font-size: 100px;
    line-height: normal;
    color: whitesmoke;
    font-weight:bold;
    padding:0 0 0 0 ;
    margin-bottom: 0px;
}
#line2{
    font-size: 100px;
    line-height: normal;
    color:aquamarine;
    margin-left: 30px;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
#line3{
    font-size: 100px;
    line-height: normal;
    color:aquamarine;
    margin-left: 30px;
    font-weight:bold;
    margin-top: 0px;
    margin-bottom: 0px;
}
/* facts */

#facts1{
    font-size:100px;
    color:rgb(250, 71, 6);
    font-weight: 1000;
    text-align:left;
    float:left;
    font-family: "Inter:wght@900&display=swap" , "Inter", Arial, Helvetica, sans-serif;
    
}
#facts2{
    font-size:30px;
    color:black;
    font-weight: bold;
    text-align:left;
    letter-spacing: 1px;
}

/* about us  */
h3#p1{
    
    text-align: left;
    color: whitesmoke;
    background-color: black;
    margin-top: 10%; 
    margin-bottom: 10%; 
    margin-left: 10%; 
    font-weight: bold;
    width:170px;
   
}
p#p4a{
    
    text-align: center;
    color: whitesmoke;
    background-color: rgb(253, 70, 4);
    margin-top: 10%; 
    margin-bottom: 10%; 
    margin-left: 10%; 
    font-weight: bold;
    width:fit-content;
    font-size: 50px;
   
}
p#p1{
    text-align:left;
    color: whitesmoke;
    background-color: black;
    margin-left: 10%;
    margin-right: 5%;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
}
p#p4{
    text-align:justify;
    color: whitesmoke;
    background-color: orangered;
    margin-left: 10%;
    margin-right: 5%;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
}
h3#p3{
    
    text-align:left;
    color: whitesmoke;
    background-color: rgb(3, 172, 239);
    margin-top: 10%; 
    margin-bottom: 30px; 
    margin-right: 10%;
    margin-left: 5%; 
    font-weight: bold;
   

   
}
p#p3{
    text-align: left;
    color: whitesmoke;
    background-color: rgb(3, 172, 239);
    margin-right: 10%;
    margin-left: 5%;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
}

.button {
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding-top:1% ;
    padding-bottom:1% ;
    padding-left: 1%;
    padding-right: 1%;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: black; 
    color: white; 
    margin-left: 10%;
    border: 2px solid white;
    float:left;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
  }
  
  .button1:hover {
    background-color: white;
    color: black;
    
  }
  .button3 {
    background-color: orangered; 
    color: white; 
    margin-left: 45%;
    border: 2px solid white;
    position: relative;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
  }
  
  .button3:hover {
    background-color: white;
    color: orangered;
    
  }
  .button2 {
    background-color: rgb(3, 172, 239) ; 
    color: white; 
    margin-left: 5%;
    position:relative;
    float:left;
    border: 2px solid white;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
  
  }
  
  .button2:hover {
    background-color: white;
    color:rgb(3, 172, 239) ;
  }
  

#p2{
    text-align: center;
    color: whitesmoke;
    background-color: white;
}
#p3{
    text-align: center;
    color: whitesmoke;
    background-color: rgb(48, 16, 50);
}

/* news */
#news{
    padding:25px;
    text-align:center;
}
h2#news{
    text-align:center;
    margin-top: 40px;
    margin-bottom:20px;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness:auto;
    text-decoration-color:orangered;

}
p.news{
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    font-size:20px;
}
p.news:hover{
    color:orangered;
}
p.card-text{
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
    font-size:14px;
}

#read.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom:20px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 30px;
    width:150px;

  }
  #read.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #read.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #read.button:hover span {
    padding-right: 25px;
  }
  
  #read.button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* quote */

#text1{
    padding-top: 35px;
    height:200px;
    background-color: cornflowerblue;
   

    

}
.quote{
    text-align:center;
    font-size:large;
}
p.quote{
    font-size: x-large;
    font-style: oblique;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
    font-weight:bolder;
}

/* events */
#heading3{
    text-align:center;
    margin-top: 40px;
    margin-bottom:20px;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness:auto;
    text-decoration-color:orangered;
}
#event{
    margin:30px;
    ;
}
#date2{
    margin:0 0 0 0;
    padding: 0 0 0 0;
}
#date1{
    font-size:40px;
    width:fit-content;
    margin:0;
    padding:0 0 0 0;
}
#register.button{
    margin-right: 0;
    margin-top: 15px;
    padding:4px 8px 4px 8px;
    float:right;
    background-color: rgb(12, 5, 92);
    border-radius: 30px;
    text-decoration: none;
    color:whitesmoke;

}



#heading1{
    font-size: 80px;
    text-align: center;
    font-weight:bold ;
    color: whitesmoke;
}
#heading2{
    font-size: 50px;
    text-align: center;
    font-weight:bold ;
    color: whitesmoke;
}


input[type=email].joinus{
    border:2px solid black;
    background-color: white;
    color: black;
    width:60%;
    float:right;
    margin-left: 30%;
    padding:10px 10px 10px 10px;
    
   
}
input[type=submit].joinus{
    border:black;
    background-color: rgb(12, 129, 192);
    color: rgb(0, 0, 0);
    width:40%;
    float:left;
    padding:10px 10px 10px 10px;
    border:2px solid black;
   
}
input[type=submit].joinus :hover{
    background-color: whitesmoke;
    color:black;
}
::placeholder{
    color:black;
}

/* contactus */
h2.contactus{
    text-align:center;
    margin-top: 40px;
    margin-bottom:20px;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-decoration-thickness:auto;
    text-decoration-color:orangered;

}
input.contactus{
    border:none;
    border-bottom:1px solid black;
    padding:10px 10px 10px 10px ;
    margin:5px 5px 5px 5px;
    width:80%;
    font-weight:200;
}
input.contactus#sbmt{
    font-weight: 500;
    text-align:right;
}

p.contactus{
    
    text-align: justify;
}
p.contactus#intro{
    color:black;
    width:80%;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
}
input[type=submit].contactus{
    border:none;
    background-color:white;
    color: rgb(0, 0, 0);
    width:40%;
    float:right;
    margin-right: 20%;
    text-align:right;
    padding-right: 0px;
   
}

p#addr{
    margin:0 0 0 0;
    padding:0 0 0 0;
}
p#addr , p#eml ,p#ph{
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:gray;
}
/* socials */
button.social {
    background-color:white; 
    border: 1px solid black; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px;
    cursor: pointer; 
    margin-top:40%;
   
  }
  
  
  button.social :hover {
    background-color:grey;

  }
  i.social{
    color:black;
    font-size: 30px;
  }
  a.social{
    text-decoration: none;
    color:black;

  }

/* footer */

#footer{
    background-color:grey;
    height:fit-content;
    font-family:"Inter:wght@100&display=swap", "Inter",Arial, Helvetica, sans-serif;

}


